<footer class="footer">
    <div class="footer-text">
        <p>Esse portifolio foi construido com Angular, usando TypeScript, HTML, CSS e estou fazendo os</p>
        <p>testes unitários com Karma Jasmine. </p>
    </div>
    <div class="animated">
        <p [ngClass]="questionClass">Vamos desenvolver <strong>solucões</strong> com tecnologia <strong>juntos</strong>?</p>
    </div>
    <div class="footer-links">
        <div class="icon-box">
            <a href="https://github.com/johnnricardo" target="_blank">
                <img src="assets/images/footer-images/github90.png" alt="github-link">
            </a>
            <a href="https://wa.me/55028999067634" target="_blank">
                <img src="assets/images/footer-images/whatsapp90.png" alt="whatsapp-link">
            </a>
            <a href="https://www.linkedin.com/in/jo%C3%A3o-ricardo-06b558191/" target="_blank">
                <img src="assets/images/footer-images/linkedin90.png" alt="linkedin-link">
            </a>
        </div>
    </div>

    <div class="footer-credits">
        <p class="credit">Desenvolvido por João Ricardo</p>
        <p class="icons-credit">Todos os Icones e emogis desse site foram desenvolvidos por <a href="https://icons8.com.br/" target="_blank">icons8.com</a></p>
    </div>
</footer>