<div class="container">
    <div class="first-box">
        <div class="message-box"> 
            <p class="recruiter">Caro recrutador,</p>
            <p class="information">eu ainda estou trabalhando na versão para dispositivos móveis, por favor, acesse esse link usando um computador, onde já está em produção.</p>
        </div>
        <div class="link-box">
            <a href="https://github.com/johnnricardo" target="_blank">
                <img src="assets/images/footer-images/github90.png" alt="">
            </a>
            <a href="https://wa.me/55028999067634" target="_blank">
                <img src="assets/images/footer-images/whatsapp90.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/jo%C3%A3o-ricardo-06b558191/" target="_blank">
                <img src="assets/images/footer-images/linkedin90.png" alt="">
            </a>
        </div>
    </div>
    <div class="rodape">
        <p class="credits-me">Desenvolvido por João Ricardo</p>
        <p class="credits-icons8">Todos os Icones desse site foram desenvolvidos por <a href="https://icons8.com.br/">icons8.com</a></p>
    </div>
</div>