<section class="box">
    <nav>
        <a class="github-link" href="https://github.com/johnnricardo" target="_blank">
            <img src="assets/images/ico-github.png" alt="GitHub-icon">
        </a>
        <a class="linkedin-link" href="https://www.linkedin.com/in/jo%C3%A3o-ricardo-06b558191/" target="_blank" target="_blank">
            <img src="assets/images/ico-linkedin.png" alt="Linkedin-icon">
        </a>
    </nav>

    <div class="main-box">
        <div class="first-box">
            <div class="hello-box"> 
                <h1 class="hello-message"> Olá </h1> 
                <img class="hello-image tada" src="assets/images/ico-hands.png" alt=""> 
                <h1 class="hello-message-2">eu sou o João Ricardo</h1>
            </div>
            <div class="profession-name zoomInDown">
                <h1>DESENVOLVEDOR</h1>
                <h1>FRONT-END</h1>
            </div>
        </div>
        <div class="second-box">

            <a class="download-button"  href="https://drive.usercontent.google.com/download?id=10RukYZwjY5iqeOBLM8-TVgYNBwZtHxcP&export=download&authuser=0&confirm=t&uuid=21cef176-0c3d-4ad5-8909-3b5b65dc0a38&at=APZUnTUxDr2dXejSxa6_TjK5LCI8:1693889402758">
                <button type="button">
                    <h6 class="h6-baixar">BAIXAR</h6>
                    <h6 class="h6-curriculo">CURRÍCULO</h6>
                </button>
            </a>

        </div>
    </div>
    <div class="tird-box">
        <button class="email-copy" (mouseenter)="changeMessageMouseEnter()" (mouseleave)="changeMessageMouseOut()" (click)="emailCopy()">

            <div class="email-icon-div">
                <img class="email-icon" src="assets/images/ico-email.png" alt="email-icon">
            </div>
            <div class="email-p-div">
                <p>{{emailMessage}}</p>
            </div>
        </button>
    </div>

    <div class="fourth-box">
        <p class="about-text">Tenho 20 anos, sou programador front-end  com experiência</p>
        <p class="about-text">trabalhando como freelancer.</p>

        <div>
            <p class="light-font-text">Vamos desenvolver <strong>soluções</strong> com tecnologia <strong>juntos</strong>?</p>
        </div>
    </div>
</section>


