


<div class="container">
    <section class="personal-section">
        <app-personal-page></app-personal-page>
    </section>
    
    <section class="banner-section">
        <app-banner-page></app-banner-page>
    </section>
    
    <section class="first-project-section">
        <app-pokedex-project></app-pokedex-project>
    </section>
    
    <section class="second-project-section">
        <app-to-do-list-project></app-to-do-list-project>
    </section>
    
    <section class="footer-section">
        <app-footer></app-footer>
    </section>
</div>

<div class="small-screen"> 
    <app-small-screen></app-small-screen>
</div>